[Serial]
# serial port settings:
baudrate = 115200
# port	 = /dev/ttyACM0
port	 = /dev/ttyS0
# buffer size for serial port
# good starting values are 16..32
bufsize	 = 16

[SocketOut]
# ports for multiple connection to single serial port
# qgroundcontrol
PORT_UDP_QGC	= 14550 
# control pannel
PORT_UDP_HUD	= 14551
# DB for saving data
PORT_UDP_DB		= 14552
# eeprom parameters tuner, data plotter
PORT_UDP_TUNER	= 14553 

[SocketIn]
# serial proxy listening port
PORT_UDP_SERPROXY	= 14555 

[Log]
log_hud			= logs/hud.log

[Screen]
hiquality = True

[Binds]			# keybingings
map = 'K_m'
